#main article li.contrast {
    font-size: 0.95em;
}

#main article li.feature strong {
    display: block;
}

.console {
    background: #292f34;
    color: white;
    font-size: 1.0em;
    text-align: center;
}

 li {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}

#touchevents .list li:not(.anchor) {
    padding: 64px 8px;
}

#scroll h1 {
    line-height: 44px;
    background: black;
    color: white;
    text-indent: 10px;
}

#scroll img {
    min-width: 256px;
    min-height: 128px;
    background: #333;
}
#scroll .anchor img {
    width: 100%;
    margin-bottom: 4px;
}
#scroll .horizontal img {
    height: 100%;
    margin-right: 4px;
}
#intro{
    background-color: #2E2E2E !important;
    border-style: none;
    box-shadow: none !important;
     -webkit-box-shadow: none !important;

}

#logo{
    color: #A6A6A6;
   /* font-size: 16pt !important;*/
    font-style: bold;
    margin-top: 3px;
}

section > header > nav a:not(.button) {
    color: #FF4500;
    text-shadow: 0 1px 0 #BD9178;
}

.rojo{
    float: right !important;
}


#camera{
    color: white;
    opacity: 0.7;
}

.form{
    width: 90% !important;
}

fieldset{
    margin-top: 3px !important;
}
form fieldset, .form fieldset {
    background: none !important;
    border-bottom: none !important;
    border-bottom: 0px !important;

}

#mainp{
    height: 100% !important;

}

#frontimage{
    width: 100%;
    z-index: 100;
    margin-top: 0%;
    left: 0%;
}


#circulo{
    bottom: 4%;
    position: absolute;
    right: 5%;
    width: 100%;
    z-index: 200;
}


 #where{
    position: absolute;
    bottom: 0px;
    z-index: 50000;
 }

 #where span{
    color: #DCDCDC;  
    text-align: center;
    font-size: 2em;
 }

 #photo{
    position: relative !important;
    height: auto !important;
    background-color: red;
  
}

#searchdiv{
    background-color: #B0B0B0;
    width: 100%;
    height: 48px;
    text-align: center !important;
}

#searchbar{
    position: relative;
    background-color: #CFCFCF;

}

.form.center fieldset {

    display: inline-block !important;
    width: 100% !important;
}

.form{
    width: 95% !important;
}

#places{
    background-color: green;
}

#testing{
    height: auto !important;
    position: relative;
}

.x1 {
    overflow:hidden;
}
.x1 .x2 {
    display:block;
    float:right;
    padding: 12.5%;
    width:auto;
    height:auto;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    background: #c07313;
    text-align:center;
    position: relative;
}
.x1 .x2 span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 45%;
    line-height: 1em;
    height: 1em;
    font-size: 1.2em;
    overflow: hidden;
    color: #f9f9f9;
}
